

body {
    
    background-color: #02ccc2;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: orangered;
    text-decoration: none;
}

a:hover {
    text-decoration: line;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

figcaption {
    text-align: center;
    font-size: small;
    font-style: italic;
}

.indent {
    margin-left: 40px;
    list-style-type: circle;
}

.img-ranger-icon {
 width: 100%;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

ul {

    padding-left: 50px;
    text-align: left;

}

.bottom-nav {
    position: fixed;
    bottom: 10px;
    width: 100vw;
    height: 90px;
    background-color: black;
    margin: auto; /* Centers horizontally */
    text-align: center;
}

.bottom-div {
    padding-bottom: 8%;
}

.top-div {
    border-top: 5px solid black;
    padding-top: 1%
}

footer {
    color: lightblue;

}
.section {
    padding: 0;
    margin: auto;
    border: 2px solid transparent;
    
}

.divider {
    padding: 4%;
}

@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
   
    #colorbox {
        background-color:orange;
    }
}

@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:grey;
    }
}

@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:yellow;
    }
}

.padding-top {
    padding-top: 3%;
}