body {
    
    background-color: #02ccc2;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: orangered;
}

a:hover {
    text-decoration: line;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

figcaption {
    text-align: center;
    font-size: small;
    font-style: italic;
}

.indent {
    text-indent: 40px;
    margin-left: 40px;
    list-style-type: circle;
}

.img-ranger-icon {
 width: 100%;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {

    padding-left: 50px;
    text-align: left;

}

.bottom-nav {
    position: fixed;
    bottom: 10px;
    width: 100vw;
    height: 90px;
    background-color: black;
    margin: auto; /* Centers horizontally */
    text-align: center;
}

.bottom-div {
    padding-bottom: 8%;
}

.top-div {
    border-top: 5px solid black;
    padding-top: 1%
}

footer {
    color: lightblue;

}
.section {
    padding: 0;
    margin: auto;
    border: 2px solid transparent;
    
}

.divider {
    padding: 4%;
}