body {
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

p {
    text-align: left;
    margin-left: 10%;
    margin-right: 20%;
}

a {
    color: red;
    text-decoration: none;
}

footer {
    text-align: center;
    padding-top: 30%;
}

footer p {
    text-align: center;
    padding-left: 40px;
}

@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
   
    #colorbox {
        background-color:orange;
    }
}

@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:red;
    }
}

@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:yellow;
    }
}