body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

body>header, body>footer, main {
    box-sizing: border-box;
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

main {
    flex-grow: 1;
}

main {
    background-color: black;
}

header {
    color: white;
    background-color: black;
    text-align: center;
}

footer {

    color: white;
    text-align: center;
    font-size: large;
}

Section {
   
    background-color: rgb(22, 22, 22);
    color: white;
}

h2 {
    text-align: center;
    color: #ffa43b;
}


.divider {
    border: 1px solid #ffa43b;
}

img {
    max-width: 300px;
    width: 50%;
}

ul {
    text-align: left;
}

li {
    padding: 2%
}

.pad {
    padding: 2%;
    padding-left: 1px;
    padding-bottom: 1%;
}

figcaption {
    font-style: italic;
    font-size: small;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }

p {
    padding: 1%;
}

a {
    color: #ffa43b;
    
    
}
button {
    background-color: #ffa43b;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}