<div class="mid-section">
    <nav>
        <a href="https://webpages.charlotte.edu/nmadiso1/">CLT Homepage</a>
        
        <a href="https://github.com/NicholasMadison" class="padding3">Github</a>
      
        <a href="https://nicholasmadison.github.io/" class="padding3">Github.io</a>
       
        <a href="https://nicholasmadison.github.io/itis3135/index.html" class="padding3">ITIS3135.io</a>
       
        <a href="https://www.freecodecamp.org/fcc07234dd9-afd3-424c-979c-1548d5702c35" class="padding3">FreeCodeCamp</a>
       
        <a href="https://www.codecademy.com/profiles/NicholasMadison" class="padding3">Codecademy</a>
     
        <a href="https://www.linkedin.com/feed/">LinkedIn</a>

    </nav>

</div>